<?xml version="1.0" encoding="utf-8"?>
<AppSettings xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <LastUpdateCheck>291</LastUpdateCheck>
    <Volume>140</Volume>
    <RecentFiles>
        <string>G:\projects\class\backup\class-31\CIT-class-31.wmv</string>
        <string>G:\projects\class\backup\class-30\CIT-class-30.wmv</string>
        <string>G:\projects\class\backup\class-30\Video_2021-09-20_154005.wmv</string>
        <string>C:\Users\SHAFI.ZEREF\Pictures\Video Projects\best.mp4</string>
        <string>C:\Users\SHAFI.ZEREF\Pictures\Video Projects\bandicam 2021-08-11 04-54-11-426_new.mp4</string>
        <string>C:\Users\SHAFI.ZEREF\Pictures\Video Projects\bandicam 2021-08-11 04-54-11-426.mp4</string>
        <string>C:\Users\SHAFI.ZEREF\Pictures\Screenshot_2021.06.26_22.13.31.661.png</string>
        <string>C:\Users\SHAFI.ZEREF\Pictures\Screenshot_2021.06.23_19.52.44.846.png</string>
        <string>C:\Users\SHAFI.ZEREF\Pictures\Screenshot_2021.06.23_19.50.07.824.png</string>
        <string>C:\Users\SHAFI.ZEREF\Pictures\IMG-20210805-WA0002.jpg</string>
        <string>C:\Users\SHAFI.ZEREF\Pictures\class.mp4</string>
        <string>C:\Bandicam\bandicam 2021-08-11 04-54-11-426.mp4</string>
        <string>C:\Bandicam\bandicam 2021-08-11 04-51-52-204.mp4</string>
        <string>C:\Bandicam\bandicam 2021-08-11 04-48-51-457.mp4</string>
        <string>G:\projects\class\backup\Class-22\Video_2021-08-09_155241.wmv</string>
    </RecentFiles>
    <WindowLocation>
        <X>0</X>
        <Y>0</Y>
    </WindowLocation>
    <WindowPosition>
        <X>683</X>
        <Y>367</Y>
    </WindowPosition>
    <WindowSize>
        <Width>785</Width>
        <Height>442</Height>
    </WindowSize>
    <ConfigEditorSearch>log</ConfigEditorSearch>
    <Mute>no</Mute>
    <UpdateCheckVersion />
</AppSettings>